
._*
.AppleDouble
.build/
.DS_Store
.LSOverride
.swiftpm/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.zip
# CocoaPods
# macOS
# Swift Package Manager
# Xcode
build/
DerivedData/
Package.resolved
Podfile.lock
Pods/
xcuserdata/
